@import "../resources/vendor/bootstrap/less/bootstrap.less";

body {
	margin-top: 0px;
	margin-bottom: 50px;
	background: none;
  font-family: 'Raleway', sans-serif;
}

.full {
  // background: #FFF;
  background: url(http://placehold.it/1920x1080) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.github-download {
  position: relative;
  padding: 80px 0;
}